<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">
    {% block head %}{% endblock %}


</head>
<body>
    <ul class="topnav">
        <li><a class="name">MIA PRACTICA 1</a></li>
        <li><a class="active" href="{{url_for('home')}}">Home</a></li>
        <li><a class="button1" href="{{url_for('cargarTemporal')}}">Cargar CSV</a></li>
        <li><a class="button1" href="{{url_for('cargarModelo')}}">Cargar CSV a Modelo</a></li>
        <li><a class="button1" href="{{url_for('consulta1')}}">CONSULTA #1</a></li>
        <li><a class="button1" href="{{url_for('consulta2')}}">CONSULTA #2</a></li>
    
    </ul>
    {% block body %}{% endblock %}
</body>
</html>